@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./styles//animations.scss');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
html {
  font-family: 'Poppins', sans-serif;
}

.selected {
  background-color: rgb(54, 230, 54);
}
.unselected {
  background-color: rgb(234, 234, 234);
}

.bg-image {
  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/images/main.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  position: absolute;
  z-index: -1; /* This ensures the background is positioned below the header content */
}
@media (min-width: 992px) {
  .bg-image {
    filter: blur(9px); /* Increase the blur value for larger screens */
  }
}
.content-1 {
  background-image: linear-gradient(to bottom, #b5d5ec, #9bcfea, #7cc9e6, #56c3e0, #06bdd8);
}

.content-2 {
  background-image: linear-gradient(to right bottom, #263037, #1e2f3b, #172d40, #0f2b45, #082949);
}

.gradient {
  background-image: linear-gradient(to bottom, #dae0e8, #9cedff, #3cfbec, #6bff9a, #d5f30b);
}
.gradient-2 {
  background-image: linear-gradient(to bottom, #dae0e8, #9cedff, #3cfbec, #6bff9a, #d5f30b);
}
