@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./styles//animations.scss');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
html {
  font-family: 'Poppins', sans-serif;
}

.selected {
  background-color: rgb(54, 230, 54);
}
.unselected {
  background-color: rgb(234, 234, 234);
}

.bg-image {
  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/images/main.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.content-1 {
  background-image: linear-gradient(94deg, #b3ffab 0%, #12fff7 100%);
}

.font-handwrite {
  font-family: 'Courgette', cursive;
}
.gradient {
  background-image: linear-gradient(to bottom, #31b92f, #58c82a, #78d623, #98e41b, #b7f20f);
}
